/* https://codepen.io/peternguyen/pen/hICga/*/
/*  */
body {
    font-family:  Helvetica, verdana, sans-serif;
    color: #1B2631;
    max-width: 1200px;
    padding-left: 2em;
    text-align: justify;
}
/*  */
p::first-letter {
  font-size: 120%;
}
/*
section {
  padding : 20px;
}
*/
input {
    display: none;
    visibility: hidden;
}
/*  */
label {
  display: block;
  padding: 0.5em;
  text-align: left;
  border-bottom: 1px solid #CCC;
  color: #666;
}
/*  */
label:hover {
  color: #000;
}
/*  */
label::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  text-align: center;
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
/*  */
.contact p{
  font-family:  Arial, verdana, sans-serif;
  font-size: 90%;
  text-indent: 30px;
}
/*  */
.header img {
  float: left;
  width: 5%;
  background: white;
  padding-right: 30px;
  padding-bottom: 10px;

}
/*  */
.header h1 {
  background-color: #99cc00;
  color: #ffffcc;
  font-size: 48px;
  text-shadow: 1px 1px 0 #444;
  text-indent: 20px;
  text-transform: capitalize;
  position:relative;
}
/*  */
h2 {
  background-color: #ace600;
  color: #ffffe6;
  font-size: 40px;
  text-shadow: 1px 1px 0 #444;
  text-indent: 20px;
  position:relative;
}
h3 {
  background-color: #bfff00;
  color: #253300;
  text-indent: 20px;
  position:relative;
  padding: 0.4em;
}
h4{
    border-bottom: 1px solid #CCC;
}
/*  */
.screenshot {
    max-width: 460px;
    max-height: 560px;
    margin: 0px 10px 0px 0px;
    padding-left: 50px;
}
/*  */
.app {
    display: flex;
    align-self: baseline;
}

/*  */
#expandGSM {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  color: #000;
}
#toggleGSM:checked ~ #expandGSM {
  height: 550px;
}
#toggleGSM:checked ~ label#GSM::before {
    content: "-";
}

/*  */
#expandMACA {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  color: #000;
}
#toggleMACA:checked ~ #expandMACA {
  height: 550px;
}
#toggleMACA:checked ~ label#MACA::before {
  content: "-";
}
/*  */
#expandACAD {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  color: #000;
}
#toggleACAD:checked ~ #expandACAD {
  height: 450px;
}
#toggleACAD:checked ~ label#ACAD::before {
  content: "-";
}
/*  */
#expandALL {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  color: #000;
}
#toggleALL:checked ~ #expandALL {
  height: 500px;
}
#toggleALL:checked ~ label#ALL::before {
  content: "-";
}
/*  */
#expandSTR {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  color: #000;
}
#toggleSTR:checked ~ #expandSTR {
  height: 550px;
}
#toggleSTR:checked ~ label#STR::before {
  content: "-";
}
